
<nav class="navbar1 navbar-expand d-flex flex-column align-item-start" id="sidebar">
   <ul class="navbar-nav d-flex flex-column mt-5 w-100">
        <li><%= link_to "Add new product", new_seller_product_path, :class => "nav-item w-150 nav-link1 text-dark pl-4" %> </li>
   </ul>

   <ul class="navbar-nav d-flex flex-column mt-5 w-100">
        <li><%= link_to "Orders",  ordered_product_seller_products_path,method: :post, remote: true, :class => "nav-item w-150 nav-link1 text-dark pl-4" %> </li>
   </ul>
</nav>

<div id="ordered_product"></div>